
.button {
  /* button style */
  border: none;
  background: $color-corporate;
  border-radius: .25em;
  padding: 16px 20px;
  color: $color-white;
  font-weight: bold;
  float: right;
  cursor: pointer;
  &:hover {
    background: #666;
  }
}
