.pagination {
  width: 70%;
  max-width: 768px;
  margin: 4em auto 8em;
  text-align: center;

  @include bp-m {
    width: 60%;
  }

  a {
    color: $color-corporate;
    &.selected {
      background: $color-corporate;
      color: $color-white;
    }
  }

  li {
    margin: 0 .2em;
    display: inline-block;
  }
  .disabled {
    color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    user-select: none;
  }
  .button, .button-pagination {
    background: $color-white;
    border: 1px solid $color-corporate;
    padding: 0.6em;
    min-width: 2.5em;
    font-weight: normal;
    text-decoration: none;
    a {
      position: relative;
      text-decoration: none;
      color: $color-corporate;
    }
  }

  @include bp-m {
    .button-pagination, span {
      display: none;
    }
  }

  .button:first-of-type a {

  }
  .button:last-of-type a {

  }
  .button:first-of-type a::before,
  .button:last-of-type a::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    top: 50%;
    margin-top: -8px;
    /*background: transparent url("./client/src/imgages/icon-arrow-1.svg") no-repeat center center;*/
  }
  .button:first-of-type a::before {

  }
  .button:last-of-type a::after {


  }
}
