
.tabs {
  position: relative;
  display: block;
  width: 100%;
  height: 7em;
  margin: 4em auto 0 auto;

  section {
    position: absolute;
    display: block;
    top: 1.8em;
    left: 0;
    height: 5em;
    font-size: 0.8em;
    padding: 10px 20px;
    background-color: $color-white;
    z-index: 0;
  }

  section:first-child {
    z-index: 1;
  }

  section h2 {
    position: absolute;
    font-size: 1em;
    font-weight: normal;
    width: 120px;
    height: 1.8em;
    top: -1.8em;
    left: 10px;
    padding: 0;
    margin: 0;
    color: $color-grey;
    background-color: $tabs-color;
  }

  section:nth-child(2) h2 {
    left: 132px;
  }

  section:nth-child(3) h2 {
    left: 254px;
  }

  section h2 a {
    display: block;
    width: 100%;
    line-height: 1.8em;
    text-align: center;
    text-decoration: none;
    color: inherit;
    outline: 0 none;
  }

  section:target,
  section:target h2 {
    color: $color-black;
    background-color: $color-white;
    z-index: 2;
  }

  section,
  section h2 {
    transition: all 500ms ease;
  }

}

