body {
    margin: 3em;
    font-size: 1.1rem;
    font-family: Arial;;
    color: #2b3e51;
    background-color: #ffffff;
}

.clear-fix:before,
.clear-fix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
  clear: both;
}
.clear-fix {
  *zoom: 1;
}
