$color-corporate:	  #43A9D4;
$color-white:	      #fff;
$color-black:	      #000;
$color-grey:          #666;

$color-action:        #43A9D4;
$color-warning:       #e8920c;
$color-danger:        #f00;
$color-plain:         #777;

$tabs-color:          #f1f1f1;


